@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  
}

:root
{
  --navy: #2A1A5E;
  --orange: #f45905;
  --yellow: #FBE555;
  --black: #000000;
  
  font-family: 'Raleway', sans-serif;;
  
}

a {
  text-decoration: none;
  
}