*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root
{
  --orange: #f45905;
  --navy: #2A1A5E;
  --yellow: #FBE555;
  --black: #000000;
  
  font-family: 'Raleway', sans-serif;;
  
}

a
{
  text-decoration: none;
  
}